/* =====================================
   SOMMAIRE - UserList.css
   =====================================
   1. Mise en page grille
   2. Responsive
   3. Message “No results”
   ==================================== */

/* ================================
   1. Mise en page grille
   =============================== */
.user-list {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  column-gap: 10%;
  padding: 20px;
}

/* ================================
   2. Responsive
   =============================== */
@media (max-width: 500px) {
  .user-list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

/* ================================
   3. Message “No results”
   =============================== */
.no-results {
  font-style: italic;
  color: #888;
  text-align: center;
  margin-top: 40px;
}
